vim74/
*.swp
*.zip
*.ahk
*.exe
*.ini
vimfiles/_viminfo
vimfiles/_vimrc
vimfiles/cache/
vimfiles/data/calendar_data/
vimfiles/.VimballRecord
vimfiles/bundle/
!vimfiles/bundle/c.vim/
!vimfiles/bundle/makeprgs/
!vimfiles/bundle/my-vim-plugin/
!vimfiles/bundle/Vundle.vim/
!vimfiles/bundle/tabular/after/plugin/TabularExtra.vim
