vim73/
*.zip
*.ahk
*.exe
*.ini
vimfiles/_vimrc
vimfiles/Data/backup/
vimfiles/Data/calendar_data/
vimfiles/Data/history/
vimfiles/Data/.NERDTreeBookmarks
vimfiles/Data/.viminfo
vimfiles/Data/.neocon/

