vim73/
*.swp
*.zip
*.ahk
*.exe
*.ini
vimfiles/_viminfo
vimfiles/_vimrc
vimfiles/cache/
vimfiles/Data/calendar_data/
vimfiles/.VimballRecord
vimfiles/bundle/
!vimfiles/bundle/c.vim/
!vimfiles/bundle/makeprgs/
